Repository uxlfoundation/oneAPI-spec, pull requests merged in 2020-06, with the labels that each got.

#159 Work around spacing problems in C++ function signatures
  source/_static/custom.css
Labels: DNN

#158 oneDNN: work around Sphinx type lookup bug
  source/elements/oneDNN/include/dnnl.hpp
Labels: DNN

#160 [DAL] Fix term warnings
  source/elements/oneDAL/Makefile
  source/elements/oneDAL/dalapi/extension.py
  source/elements/oneDAL/dalapi/roles.py
  source/elements/oneDAL/source/data_management/index.rst
  source/elements/oneDAL/source/glossary.rst
Labels: DAL

#161 [DAL] Lowercase references in the text
  source/elements/oneDAL/dalapi/extension.py
  source/elements/oneDAL/dalapi/roles.py
  source/elements/oneDAL/source/algorithms/nearest_neighbors/knn_classification.rst
  source/elements/oneDAL/source/data_management/accessors.rst
  source/elements/oneDAL/source/data_management/index.rst
  source/elements/oneDAL/source/data_management/table_builders.rst
  source/elements/oneDAL/source/data_management/tables.rst
  source/elements/oneDAL/source/introduction.rst
  source/elements/oneDAL/source/programming_model/algorithm_anatomy.rst
Labels: DAL, enhancement
