Repository uxlfoundation/oneAPI-spec, pull requests merged in 2024-10, with the labels that each got.

#569 [oneDPL] Add parallel range algorithms
  source/elements/oneDPL/source/parallel_api.rst
  source/elements/oneDPL/source/parallel_api/parallel_range_api.rst
Labels: DPL

#567 [oneDPL] Create a subsection for is_execution_policy type trait
  source/elements/oneDPL/source/parallel_api/execution_policies.rst
Labels: DPL

#570 [oneDPL] Clarify the semantics of dpl::begin/end return type
  source/elements/oneDPL/source/parallel_api/buffer_wrappers.rst
Labels: DPL

#592 [oneTBB] Add specification version macro
  source/elements/oneTBB/source/configuration/version_information.rst
  source/elements/oneTBB/source/index.rst
  source/elements/oneTBB/source/nested-index.rst
Labels: TBB

#591 [oneDPL] Add requirements to header files and specification version macro
  source/elements/oneDPL/source/common.rst
  source/elements/oneDPL/source/index.rst
Labels: DPL

#594 [oneDPL] Specify copy and move semantics for device_policy
  source/elements/oneDPL/source/parallel_api/execution_policies.rst
Labels: DPL

#583 [oneMKL][spblas] Add sorted_by_rows property
  source/elements/oneMKL/source/domains/spblas/data_types/set_matrix_property.rst
  source/elements/oneMKL/source/domains/spblas/operations/spmm.rst
  source/elements/oneMKL/source/domains/spblas/operations/spmv.rst
  source/elements/oneMKL/source/domains/spblas/operations/spsv.rst
Labels: MKL
